.incident-list__add-button {
    font-family: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 6px;
    width: 100%;
    height: 35px;
    background-color: #000;
    color: #fff;
    user-select: none;
    max-width: 150px;
    justify-self: flex-end;
}

.incident-list__add-button:hover {
    cursor: pointer;
}

.incident-list__add-button__plus {
    font-weight: 100;
}

.incident-list__add-button__paragraph {
    margin: 0;
    font-size: 14px;
}

.incident-list__add-button__plus {
    margin: 0;
}

@media screen and (max-width: 1440px) {
    .incident-list__add-button__paragraph {
        display: none;
    }
}