.rate__stars__div {}

.rate__star {
    opacity: .7;
    margin-right: 2px;
    width: 25px;
}

.rate__star:hover {
    cursor: pointer;
}

@media screen and (max-width: 1439px) {
    .rate__star {
        box-sizing: border-box;
        width: 20px;
    }
}