.incident-list__search__div {
    display: flex;
    flex-direction: row;
    margin: 0;
    width: 100%;
}


.incident-list__search__input {
    margin: 0;
    width: 100%;
    height: 35px;
    padding: 0;
    border-radius: 6px;
    padding-left: 10px;
}

.incident-list__search__input::placeholder {
    font-family: 'Circe';
    font-size: 14px;
}